.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
  display: inline-block;
}

#menu-add-button {
  background-color: #9e9e9e;
}
/*
.grey-color {
  background-color: @gray-light;
}*/
