<header class="header">
		<h4 class="header-title">Bem vindo à sua agenda de clientes</h4>
</header>
<nav class="nav">
	<div>
		<div class="search-client lateral-border">
			<div id="search-input">
				<div class="input-group">
					<input type="text" class="form-control input-lg" placeholder="Buscar cliente" />
					<span class="input-group-btn">
						<button class="btn btn-info btn-lg" type="button">
							<i class="glyphicon glyphicon-search"/></i>
						</button>
					</span>
				</div>
			</div>
			<div class="">
				<button id="menu-add-button" class="btn btn-circle" type="button">
					<i class="glyphicon glyphicon-plus"/></i>
				</button>
			</div>
		</div>
		<div class="client-card">
			<img src="../source/client.png" alt="client" class="client-picture">
      <div class="client-information">
        <p class="client-name">Cliente de teste que possui nome grande</p>
				<p class="client-company">Empresa de teste que possui nome grande</p>
      </div>
		</div>
    <div class="client-card">
			<img src="../source/client.png" alt="client" class="client-picture">
      <div class="client-information">
        <p class="client-name">Cliente de teste que possui nome grande</p>
				<p class="client-company">Empresa de teste que possui nome grande</p>
      </div>
		</div>
    <div class="client-card">
			<img src="../source/client.png" alt="client" class="client-picture">
      <div class="client-information">
        <p class="client-name">Cliente de teste que possui nome grande</p>
				<p class="client-company">Empresa de teste que possui nome grande</p>
      </div>
		</div>
    <div class="client-card">
			<img src="../source/client.png" alt="client" class="client-picture">
      <div class="client-information">
        <p class="client-name">Cliente de teste que possui nome grande</p>
				<p class="client-company">Empresa de teste que possui nome grande</p>
      </div>
		</div>
    <div class="client-card">
			<img src="../source/client.png" alt="client" class="client-picture">
      <div class="client-information">
        <p class="client-name">Cliente de teste que possui nome grande</p>
				<p class="client-company">Empresa de teste que possui nome grande</p>
      </div>
		</div>
    <div class="client-card">
			<img src="../source/client.png" alt="client" class="client-picture">
      <div class="client-information">
        <p class="client-name">Cliente de teste que possui nome grande</p>
				<p class="client-company">Empresa de teste que possui nome grande</p>
      </div>
		</div>
    <div class="client-card">
			<img src="../source/client.png" alt="client" class="client-picture">
      <div class="client-information">
        <p class="client-name">Cliente de teste que possui nome grande</p>
				<p class="client-company">Empresa de teste que possui nome grande</p>
      </div>
		</div>
	</div>
	<div class="">

	</div>

</nav>
<footer class="footer">
		<h4 class="footer-title">Copyright 2017 Alboom Pro</h4>
</footer>
