<default-header></default-header>
<section class="content">
	<nav class="nav">
		<div>
			<search-input></search-input>

			<client-list
				ng-controller="ClientsController"
				ng-repeat="client in clients | filter: clientFilter"
				client="client">
			</client-list>
		</div>
	</nav>

	<main class="main">
		<div class="client-panel">
			<img src="../source/client.png" alt="client" class="client-picture">
			<div class="client-information">
				<p class="client-name">Cliente de teste que possui nome grande</p>
				<p class="client-company">Empresa de teste que possui nome grande</p>
				<p class="client-company-address">Endereço da empresa de teste que possui nome grande</p>
			</div>
			<div class="client-actions">
					<button class="btn btn-circle" type="button">
						<i class="glyphicon glyphicon-edit"/></i>
					</button>
					<button class="btn btn-circle" type="button">
						<i class="glyphicon glyphicon-remove"/></i>
					</button>
			</div>
		</div>
		<div class="client-contact">
			<div class="client-contact-group">
				<div class="client-contact-item client-contact-email">
					<div class="client-contact-label">
						<p>Email: </p>
					</div>
					<div class="client-contact-information">
						<p>Email da compania de teste grande</p>
					</div>
				</div>
				<div class="client-contact-item client-contact-email">
					<div class="client-contact-label">
						<p>Email: </p>
					</div>
					<div class="client-contact-information">
						<p>Email da compania de teste grande</p>
					</div>
				</div>
				<div class="client-contact-item client-contact-email">
					<div class="client-contact-label">
						<p>Email: </p>
					</div>
					<div class="client-contact-information">
						<p>Email da compania de teste grande</p>
					</div>
				</div>
				<div class="client-contact-item client-contact-email">
					<div class="client-contact-label">
						<p>Telefone: </p>
					</div>
					<div class="client-contact-information">
						<p>(55) 22 9 9988-7766</p>
					</div>
				</div>
				<div class="client-contact-item client-contact-email">
					<div class="client-contact-label">
						<p>Telefone: </p>
					</div>
					<div class="client-contact-information">
						<p>(55) 22 9 9988-7766</p>
					</div>
				</div>
				<div class="client-contact-item client-contact-email">
					<div class="client-contact-label">
						<p>Telefone: </p>
					</div>
					<div class="client-contact-information">
						<p>(55) 22 9 9988-7766</p>
					</div>
				</div>
			</div>
			<div class="client-map">
				<img class="map" src="../source/map.png" alt="temporary-image">
			</div>
		</div>
	</main>
</section>
<default-footer></default-footer>
